Dear <%= user.name %> <br>
We got an order to process:<br>
<table border="1">
    <% ['orderId', 'amount','status','paymentOption', 'orderedAt', 'additionalDetails','phone','email','name'].forEach(function (k) { %>
    <tr>
        <td> <%= k %> </td><td> <%= order[k]||'' %> </td>
    </tr>
    <% }) %>
    <% ['line1','line2','city','state','pin'].forEach(function (k) { %>
    <tr>
        <td> <%= k %> </td><td> <%= order.address[k]||'' %></td>
    </tr>
    <% }) %>
</table>
Here is the details of what customer ordered: <br>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Merch</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Size</th>
        <th>Artwork</th>
    </tr>
    <% for (var i = 0; i < order.cart.length; i++) { %>
    <tr>
        <td><%= order.cart[i].title %></td>
        <td><%= order.cart[i].merchName %> <%= order.cart[i].color || ''%> <%= order.cart[i].merchType || ''%></td>
        <td><%= order.cart[i].quantity %></td>
        <td><%= order.cart[i].amount %></td>
        <td><%= order.cart[i].size %></td>
        <td><%= order.cart[i].artwork %></td>
    </tr>       
    <% } %>
</table>
