Dear <%= user.name %>
<br>
<p>
Congratulations! A customer fell in love with your art and proceeded to purchase it!
Here is the detail of your sales:
</p>
<table>
    <tr>
        <th>#</th>
        <th>Artwork</th>
        <th>Merch</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Profit</th>
    </tr>
    <% for (var i = 0; i < sales.length; i++) { %>
    <tr>
        <td> <%= i+1 %> </td>
        <td> <%= sales[i].title %> </td>
        <td> <%= sales[i].merchName %> </td>
        <td> <%= sales[i].quantity %> </td>
        <td> <%= sales[i].amount %> </td>
        <td> <%= sales[i].margin*sales[i].base/100 %> 
    </tr>
    <% } %>
</table>
<p>
Your accumulated profit for this month will be credited to your account by the mode of payment that you have selected on paintcollar.com.
</p>
<p>
You can rest easy knowing that our team has jumped into action to manufacture and deliver the product to the customer.
</p>
<p>
We wish you best of luck for the future and hope customers will continue to appreciate and buy your work. Once again, congratulations on your sale!
</p>
Warm Regards <br>
Paintcollar Team
