Dear <%= user.name %>,
<br>

<p>
Thank you for shopping with Paintcollar!
We've successfully processed your order number <strong> <%= order.orderId %> </strong> and we are working on delivering it to your doorstep as quickly as possible.
</p>
<p>
We would like to confirm your order:
</p>

<% for (var i = 0; i < order.cart.length; i++) { %>
<%= order.cart[i].quantity %> x "<%= order.cart[i].title %>" 
<%= order.cart[i].merchName %>, <%= order.cart[i].size %>, 
<%= order.cart[i].colorName ? (order.cart[i].colorName +',') : '' %> @ Rs.<%= order.cart[i].amount %> <br>
<% } %>
<p>
Total Amount: Rs.<%= order.amount %> (Shipping is free!)
</p>
<p>
Your order will be shipped in about 7-8 working days at: <br>
<%= order.address.line1 %> <br> <%= order.address.line2 %> <br>
<%= order.address.city %> <br> <%= order.address.state %> - <%= order.address.pin %> <br>
Phone : <%= order.phone %>
</p>
<p>
Once we have dispatched your order, we will inform you by email and provide you with a tracking number.

We love smiling customers so if you have any issues that you would like to get resolved, please visit our 
<a href="paintcollar.com/faq">FAQ section</a>. In case you would like to get in touch, you can do so using the 
<a href="paintcollar.com/contactus">Contact Us</a> page. We would love to help you out.

We hope you enjoyed using Paintcollar's services and that you will return in the future.
</p>
Cheers! <br>
Team Paintcollar
